@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.quanlysach , .quanlynhanvien ,.quanlydocgia, .quanlymuonsach, .quanlytrasach, .quanlyphieunhap, .quanlytaikhoan, .thongke, .thongtincanhan,.quanlyphanquyen  {
    display: none;
    opacity: 0; /* Mờ dần */
    transition: opacity 0.5s ease; /* Hiệu ứng chuyển tiếp */
}

.showpage {
    display: block;
    opacity: 1; /* Hiện rõ */
}


.no-select {
    user-select: none; /* Ngăn chọn văn bản */
    -webkit-user-select: none; /* Dành cho trình duyệt WebKit */
    -moz-user-select: none; /* Dành cho Firefox */
    -ms-user-select: none; /* Dành cho IE/Edge */
}

.admin_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #060244;
    overflow-y: auto;
}


.admin_sidebar .btn {
    cursor: pointer;
}

.admin_sidebar .btn i {
    margin-right: 2%;
}

.homesection {
    position: absolute;
    z-index: 1;
    background-color: #E4E9F7;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.5s ease;
    overflow: auto;
}

.admin_sidebar.close ~ .homesection {
    width: calc(100% - 55px);
    left: 55px;
}

.homesection .homecontent {
    height: 100vh;
}

.admin_sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.admin_sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 20%;
    text-align: center;
    line-height: 50px;
}

.admin_sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.admin_sidebar .nav-links {
    background: #060244;
    height: 100%;
    padding-top: 10%;
}

/* Ẩn scrollbar trong Chrome, Safari và Edge */
.admin_sidebar::-webkit-scrollbar , .homesection::-webkit-scrollbar, .table_limit-3h::-webkit-scrollbar, .table_limit-4h::-webkit-scrollbar, .table_limit-5h::-webkit-scrollbar {
    display: none;
}

/* Ẩn scrollbar trong Firefox */
.admin_sidebar , .homesection , .table_limit-3h, .table_limit-4h, .table_limit-5h{
    scrollbar-width: none; /* "auto" hoặc "thin" cũng có thể được sử dụng */
}

/* Ẩn scrollbar trong Internet Explorer */
.admin_sidebar, .homesection, .table_limit-3h, .table_limit-4h, .table_limit-5h{
    -ms-overflow-style: none; /* Ẩn scrollbar */
}

.admin_sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.admin_sidebar .nav-links .out-li:hover {
    background: #130b82;
}

.admin_sidebar .nav-links li i {
    height: 50px;
    min-width: 20%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
}

.admin_sidebar .nav-links li .btn {
    display: flex;
    align-items: center;
}

.admin_sidebar .nav-links li .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.admin_sidebar .nav-links li .sub-menu {
    padding: 0 2% 0 12%;
    margin-top: -2%;
    margin-bottom: 3.6%;
    background-color: #110b64;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-menu.show {
    display: block;
    opacity: 1; 
    transform: translateY(10px);
}

.admin_sidebar .nav-links li .sub-menu .btn{
    color: #fff;
    font-size: 15px;
    padding: 3% 0;
    white-space: nowrap;
    opacity: 0.5;
    transition: all 0.3s ease;
}


.admin_sidebar .nav-links li .sub-menu i {
    opacity: 0.5;
    transition: all 0.3s ease;
}

.admin_sidebar .nav-links li .sub-menu li:hover .btn,
.admin_sidebar .nav-links li .sub-menu li:hover i{
    opacity: 1;
}

.admin_sidebar .nav-links li .close-sub .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 5% 10%;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.admin_sidebar .nav-links li:hover .close-sub .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
} 

.admin_sidebar .nav-links li .sub-menu .link_name {
    font-size: 18px;
}

.admin_sidebar .profile-details {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #09025e;
    width: 100%;
    max-width: 260px;
    padding: 6px 0;
    transition: background 0.3s ease; /* Hiệu ứng chuyển đổi cho màu nền */
}

.admin_sidebar .profile-details #profile-img {
    max-height: 60px;
    max-width: 60px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 0 0 3%;
    border: solid 4px #140a88;
    transition: max-height 0.3s ease, max-width 0.3s ease; /* Hiệu ứng chuyển đổi cho kích thước ảnh */
}

.admin_sidebar .profile-details .profile-name {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.admin_sidebar .profile-details .job {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.admin_sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.admin_title_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    margin-bottom: 0.5%;
}

.admin_title_content .admin_title {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
    width: fit-content;
    padding: 0 1%;
    border-radius: 7px;
}

.admin_title_content h1 {
    font-size: 1.6rem;
}



/*Các thành phần trong trang*/
.input_contain {
    display: flex;
    align-items: center;
}


.button_contain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_contain_manage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_action {
    border: none;
    color: white;
    padding: 0.3% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5% 0 0.5% 0.7%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-add {
    background-color: #4CAF50; /* Màu xanh lá cây */
}

.btn-edit {
    background-color: #2196F3; /* Màu xanh dương */
}

.btn-delete {
    background-color: #f44336; /* Màu đỏ */
}

.btn-save {
    background-color: rgb(223, 164, 55);
}

.btn-cancel {
    background-color: #d54f34; /* Màu đỏ */
}

.btn-reset {
    background-color: #1d5bed;
}

.btn-manage {
    background-color: #201ded;
}

.btn_action:hover {
    transform: scale(1.05); /* Tăng kích thước nhẹ khi hover */
}

.btn-add:hover {
    background-color: #45a049; /* Màu xanh lá cây đậm hơn khi hover */
}

.btn-edit:hover {
    background-color: #1E88E5; /* Màu xanh dương đậm hơn khi hover */
}

.btn-delete:hover {
    background-color: #d32f2f; /* Màu đỏ đậm hơn khi hover */
}

.btn-save:hover {
    background-color: rgb(206, 141, 21);
}

.btn-cancel:hover {
    background-color: #c93517;
}

.btn-reset:hover {
    background-color: #1748bc;
}

.btn-manage:hover {
    background-color: #2857c5;
}

.btn_action:focus {
    outline: none;
}


/*Vô hiệu nút*/
.btn-save:disabled , .btn-cancel:disabled , .btn-add:disabled , .btn-delete:disabled , .btn-edit:disabled, .btn-start-ct-btn-start-ct-phieu_nhap:disabled{
    background-color: #ccc; /* Màu xám khi vô hiệu hóa */
    cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
}

.btn-save:disabled:hover , .btn-cancel:disabled:hover , .btn-add:disabled:hover , .btn-delete:disabled:hover , .btn-edit:disabled:hover, .btn-start-ct-phieu_nhap:disabled:hover{
    background-color: #ccc; 
}

/*Tìm kiếm*/
.search-input {
    border: none;
    padding: 0 2%;
    outline: none;
    font-size: 1rem;
    border-radius: 25px 0 0 25px;
    width: 300px; /* Bạn có thể điều chỉnh chiều rộng tùy ý */
    height: 5vh;
    margin-left: 0.7%;
}

.btn-search {
    background-color: #88c08a;
    border: none;
    color: white;
    padding: 0 1%;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
    transition: background-color 0.3s;
    height: 5vh;
    font-size: 1rem;
}

.btn-search:hover {
    background-color: #45a049;
}

.bx-search-alt-2 {
    color: black;
    font-weight: 300;
}

/*---------------------Input---------------------*/
.input_contain {
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    padding: 0.5%;
    margin: 0 0.7%;
    border-radius: 10px;
    border: solid 1px black;
}

.input_contain .input_contain_child {
    margin-left: 2%;
    margin-right: 2%;
}

.input-group {
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

.input-label {
    width: 9vw;
    font-weight: bold;
}

.input-control {
    flex: 1;
    padding: 10px 15px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-control:focus {
    outline: none;
    border-color: #4CAF50;
}

textarea.input-control {
    resize: vertical;
    max-height: 10%;
}

/*---------------------Manage Img---------------------*/
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-bottom: 1%;
}

.image-preview {
    border: #060244 solid 3px;
    border-radius: 3px;
    max-height: 155px;
}

.image-preview #image_max {
    max-width: 165px;
    max-height: 151px;
    object-fit: cover;
}

/* #image-upload {
    margin-right: -5%;
} */


/*---------------------Table---------------------*/
.table_contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    padding: 0.5%;
    margin: 0 0.7%;
    border-radius: 10px;
    border: solid 1px black;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid #000000;
    padding: 0.5%;
    text-align: center;
    font-size: 0.9rem;
}

td {
    max-width: 120px; /* Giới hạn chiều rộng tối đa */
    overflow: hidden; /* Ẩn nội dung thừa */
    white-space: nowrap; /* Ngăn ngắt dòng */
    text-overflow: ellipsis; /* Hiện dấu "..." nếu nội dung bị cắt */
}

.table_stt {
    max-width: 5vw;
    width: 3vw;
    text-align: center;
}

.text_center {
    text-align: center;
}


.table-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: lightgray;
}

.table_limit-3h {
    max-height: 29.6vh;
    overflow: auto;
}

.table_limit-4h {
    max-height: 35.3vh;
    overflow: auto;
}

.table_limit-5h {
    max-height: 41.1vh;
    overflow: auto;
}


/*---------------------Table Phiếu Nhập---------------------*/
.table-ct-phieu_nhap-xem {
    display: table;
}

.table-ct-phieu_nhap {
    display: none;
}

/*----------------------Nút cấp tài khoản---------------------------*/
#capTaiKhoanBtn {
    background-color: #4CAF50; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 1vh 2vw; /* Cách điệu padding */
    text-align: center; /* Căn giữa chữ */
    text-decoration: none; /* Không gạch chân */
    display: inline-block; /* Hiển thị như inline-block */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ chuột */
    border: none; /* Không viền */
    border-radius: 4px; /* Bo tròn */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

#capTaiKhoanBtn:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

/*----------------------Nút xử lý---------------------------*/
.btn-xu-ly {
    background-color: #4CAF50; /* Màu nền xanh */
    color: white; /* Màu chữ trắng */
    padding: 0.7vh 1.3vw; /* Cách điệu padding */
    border: none; /* Không viền */
    border-radius: 5px; /* Bo tròn */
    cursor: pointer; /* Con trỏ chuột */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.btn-xu-ly:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

.da-xu-ly {
    color: #f44336; /* Màu đỏ */
    font-weight: bold; /* Chữ đậm */
}

/*----------------------Nút sắp xếp và xóa chi tiết sách---------------------------*/
.btn-sap-xep , .btn-unlock {
    background-color: #4CAF50; /* Màu nền xanh */
    color: white; /* Màu chữ trắng */
    padding: 0.4vh 0.8vw; /* Padding cho nút */
    border: none; /* Không viền */
    border-radius: 5px; /* Bo tròn */
    cursor: pointer; /* Con trỏ chuột */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.btn-sap-xep:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

.btn-xoa_chitiet_sach, .btn-lock {
    background-color: #c21a1a;
    color: white; /* Màu chữ trắng */
    padding: 0.4vh 0.8vw; /* Padding cho nút */
    border: none; /* Không viền */
    border-radius: 5px; /* Bo tròn */
    cursor: pointer; /* Con trỏ chuột */
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.btn-xoa_chitiet_sach:hover {
    background-color: #9a0d0d; /* Màu nền khi hover */
}

/*----------------------Hover table---------------------------*/
.table-sach tbody tr , 
.table-phieu_nhap tbody tr,
.table-phieu_muon tbody tr,
.table-phieu_tra tbody tr,
.table-taikhoan_nhanvien tbody tr,
.table-taikhoan_docgia tr{
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.table-sach tbody tr:hover,
.table-phieu_nhap tbody tr:hover,
.table-phieu_muon tbody tr:hover,
.table-phieu_tra tbody tr:hover,
.table-taikhoan_nhanvien tbody tr:hover,
.table-taikhoan_docgia tbody tr:hover, 
.table-ct-sach_da_muon tbody tr:hover,
.table-nhanvien tbody tr:hover,
.table-docgia tbody tr:hover,
.table-ct-phieu_nhap tbody tr:hover,
.table-ct-sach_tra tbody tr:hover{
    background-color: #ddd8d8bc; /* Màu nền khi hover */
    cursor: pointer; /* Thay đổi con trỏ chuột thành pointer */
}


.input-group {
    position: relative;
}

.input-container {
    position: relative;
    display: inline-block;
}

/*---------------------- Nút tăng giảm ---------------------------*/
.btn-container__arrow {
    position: absolute;
    right: 2%; /* Khoảng cách từ bên phải */
    top: 14%;
    display: none;
}

.input-container:hover .btn-container__arrow {
    display: flex; 
    flex-direction: column;
}

.input-control:disabled + .btn-container__arrow  {
    display: none; /* Ẩn mũi tên khi input bị disable */
}

.btn-arrow {
    background-color: #035dbe;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px; /* Kích thước chữ */
    width: 1vw; /* Chiều rộng nút */
    text-align: center;
}

/*css phan quyen*/
.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}


.btn-remove-ct-pn , .btn-remove-ct-pt{
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 3px 5px;
    font-weight: 500;
}

/*css thong ke*/
.tab-content-tk .tab-pane-tk {
    display: none;
}

.tab-content-tk .tab-pane-tk.active {
    display: block;
}














.hidden-file {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* cursor: pointer; */
  cursor: not-allowed;
  z-index: 2;
}

.label_img {
    width: 10rem; 
    /* cursor: pointer;  */
    background-color: #ccc; /* Màu xám khi vô hiệu hóa */
    cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
    
    position: relative; 
    z-index: 1;

    border: none;
    color: white;
    padding: 0.3% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5% 0 0.5% 0.7%;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;

    /* background-color: #2196F3; */
}


